@page
@using UzlezzBlogs.Pages.Shared
@using Hydro
@model MyRatingsModel
@inject IMetaDescriptionBuilder DescriptionBuilder
@{
    ViewData["Title"] = $"Rated Posts | Page {Model.PageIndex}";

    if (HttpContext.IsHydro())
    {
        Layout = null;
        this.HydroTarget("#main-content", ViewData["Title"]!.ToString());
    }
}

<div class="container py-5" style="max-width: 800px;">
    <h2 class="text-center">Rated posts</h2>
    @foreach (var post in Model.Posts)
    {
        <rated-post-preview-card post="@post" />
    }

    <pagination
        page-index="@Model.PageIndex"
        total-pages="@Model.TotalPages"
        generate-url="@((page) => $"/MyRatings?p={page}")" />
</div>