@model UzlezzBlogs.Pages.Components.RatingComponent

<div>
    <a hydro-on:click="@(() => Model.Upvote())" href="#" class="text-decoration-none text-muted" style="cursor: pointer">
        @if ((Model.Rating is not null) && (Model.Rating == true))
        {
            <i class="bi bi-hand-thumbs-up-fill" style="color:currentColor;font-size:1.2rem"></i>
        }
        else
        {
            <i class="bi bi-hand-thumbs-up" style="color:currentColor;font-size:1.2rem"></i>
        }
    </a>
    <span>@Model.Upvotes</span>
    <a hydro-on:click="@(() => Model.Downvote())" href="#" class="text-decoration-none text-muted" style="cursor: pointer">
        @if ((Model.Rating is not null) && (Model.Rating == false))
        {
            <i class="bi bi-hand-thumbs-down-fill" style="color:currentColor;font-size:1.2rem"></i>
        }
        else
        {
            <i class="bi bi-hand-thumbs-down" style="color:currentColor;font-size:1.2rem"></i>
        }
    </a>
    <span>@Model.Downvotes</span>
</div>